@media screen and (max-width: 1024px) {
    #login_form {
        top: 28vh;
        width: 62vw;
    }

    #login_form span {
        font-size: 12vw;
        text-align: left;
        line-height: normal;
    }


    #login_input {
        border-bottom: 2px solid #fff;
    }

    #login_form .input:last-child {
        border: 2px solid #fff;
    }

    #login_input {
        width: 100%;
        font-size: 8vw;
    }

    #login_form .input:last-child {
        width: 20vw;
        font-size: 3vw;
        padding: 1.3vh 2vw;
    }


    #weatherDisplay>#icon {
        width: 5vw;
        height: 5vw;
    }

    #weatherDisplay>#temp {
        font-size: 4vw;
    }

    #city {
        display: block;
        font-size: 1.5vh;
        letter-spacing: -1px;
    }

    #clock {
        font-size: 20rem;
    }



    #greeting,
    #greeting_user {
        justify-self: center;
        font-size: 6rem;
        line-height: normal;
    }

    #greeting {
        order: -1;
    }

    #greeting_user {
        order: 1;
    }

    #logout_btn,
    #menu_btn {
        order: 2;
        font-size: 2.5vw;
    }

    #goal_form,
    #goal_form span {
        width: 100%;
    }

    #goal_form span,
    #goal_form .input {
        font-size: 3.8rem;
    }

    #goal_list {
        width: 600px;
    }

    #quote {
        font-size: 2rem;
    }

    #quote span:last-child {
        margin: 15px 0;
    }
}


@media screen and (max-width: 767px) {

    #menu_content {
        width: 100%;
    }

    #menu_overlay {
        width: 0%;
    }

    #weatherBorder {
        padding: 5px 10px;
    }

    #weatherDisplay>#icon {
        width: 6vw;
        height: 6vw;
    }

    #weatherDisplay>#temp {
        top: -1vh;
        font-size: 4vw;
    }

    #city {
        display: block;
        font-size: 1.5vh;
        letter-spacing: -1px;
    }

    #clock {
        font-size: 25vw;
        font-weight: 400;
    }


    #greeting_container {
        flex-direction: column;
    }

    #greeting,
    #greeting_user {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 10vw;
        font-weight: 400;
    }

    #greeting_user {
        margin-top: 5%;
    }

    #logout_btn,
    #menu_btn {
        margin-top: 5%;
        font-size: 3.5vw;
    }

    #goal_form,
    #goal_list,
    #goal_list li {
        width: 100%;
    }

    #goal_form span,
    #goal_form .input {
        font-size: 4.9vw;
        font-weight: 400;
    }

    #goal_form .input {
        border-bottom: 2px solid #fff;
    }

    #goal_form .input,
    #goal_list {
        margin-top: 0.5vh;
    }


    #goal_list li {
        margin-top: 1vh;
        width: 70vw;
        justify-content: center;
    }

    #goal_list li span {
        padding: 1vw;
        margin: 0 0.5vw;
        font-size: 5vw;
    }

    .customCheckbox[type="checkbox"]+label,
    .customCheckbox[type="checkbox"]:checked+label::after,
    #goal_list .customButton {
        width: 4vw;
        height: 4vw;
        background-size: 4vw, 4vw;
    }

    #goal_list .customButton {
        margin-top: 0px;
        font-size: 2vw;
    }

    #quote {
        font-size: 2.5vw;
    }

    #quote span:last-child {
        margin: 10px 0;
    }
}