*,
:after,
:before {
    box-sizing: border-box;
}

* {
    margin: 0;
    overflow-wrap: break-word;
}


html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 10.5px;
    line-height: 10.5px;
    letter-spacing: -0.4px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    overflow: hidden;
}


form,
ul {
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    left: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hidden {
    display: none;
}


#backgroundImage {
    position: absolute;
    /* width: 100vw; 
    height: 1189px;*/
    width: 2560px;
    height: 1329px;
    z-index: -1;
    filter: brightness(60%);
}




#top_area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 14.4px;
    font-size: 15px;
    opacity: 80%;
}

#top_area>span {
    margin-bottom: 10px;
}

#middle_area {
    position: relative;
    width: 100%;
    height: 660px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    position: absolute;
    top: 270px;
    width: 610px;
}


#login-form span {
    display: inline-block;
    height: 40px;
    padding-bottom: 15px;
    font-size: 54px;
    font-weight: 400;
}


#login-input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 3px solid #fff;
    background: none;
    outline: none;
    color: white;
    font-size: 61px;
    font-weight: 500;
    text-align: center;
}

#login-form .input:last-child {
    left: 250px;
    width: 120px;
    height: 36.5px;
    margin-top: 70px;
    padding: 8px 9px 10px;
    background: rgba(0, 0, 0, .15);
    border: 2px solid rgba(255, 255, 255, .7);
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    position: relative;
}



#clock {
    position: absolute;
    top: 210px;
    font-size: 170px;
    letter-spacing: -5px;
    font-weight: 400;
    opacity: 90%;
}

#greeting {
    position: absolute;
    top: 360px;
    font-size: 60px;
    letter-spacing: -5px;
    font-weight: 550;
}

#goal_form {
    position: absolute;
    top: 450px;
    font-weight: 400;
    text-align: center;
}


#goal_form span {
    display: inline-block;
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 400;
}

#goal_form .input {
    display: block;
    margin-top: 10px;
    width: 610px;
    padding: 0;
    border: none;
    border-bottom: 3px solid #fff;
    background: none;
    outline: none;
    color: white;
    font-size: 35px;
    text-align: center;
}

#goal_list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 530px;
    width: 580px;
    list-style: none;
    font-size: 30px;
}

#goal_list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
}

#goal_list li.start {
    display: flex;
    align-items: flex-start;
}

#goal_list li span {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    padding-top: 15px;
    height: 35px;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customCheckbox {
    display: none;
}

.customCheckbox[type="checkbox"]+label {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    background: url(../img/unchecked.png);
    background-size: 30px, 30px;
}

.customCheckbox[type="checkbox"]:checked+label::after {
    content: "";
    font-size: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/checked.png);
    background-size: 30px, 30px;
}

.customButton {
    display: none;
}

#goal_list li:hover .customButton {
    display: block;
    width: 32px;
    height: 30px;
    margin-top: 5px;
    background: none;
    border-radius: 30%;
    color: white;
    border-color: white;
    font-weight: 900;
    font-size: 10px;
}


#quote {
    position: relative;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    font-style: italic;
}

#quote span:last-child {
    margin-top: 15px;
}

@media screen and (max-width: 2559px) {
    #backgroundBorder {
        position: absolute;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }


    #backgroundImage {
        position: relative;
        width: 1536px;
        height: 737px;
        right: 40vw;

    }


    main {
        position: absolute;
        height: 100vh;
        justify-content: flex-end;
        left: 17vw;

    }


    #top_area {
        position: relative;
        height: 60px;
        padding: 14.4px;
        font-size: 10px;
    }

    #top_area>span {
        margin-bottom: 2px;
    }

    #middle_area {
        width: 100%;
    }

    #login-form {
        top: 270px;
        width: 610px;
    }


    #login-form span {
        height: 40px;
        padding-bottom: 15px;
        font-size: 54px;
        font-weight: 400;
    }


    #login-input {
        width: 100%;
        font-size: 61px;
    }

    #login-form .input:last-child {
        left: 250px;
        width: 120px;
        height: 36.5px;
        margin-top: 70px;
        padding: 8px 9px 10px;
        font-size: 15px;

    }



    #clock {
        top: 100px;
        font-size: 90px;
    }

    #greeting {
        top: 180px;
        font-size: 30px;
        letter-spacing: -2px;
    }

    #goal_form {
        top: 220px;
    }


    #goal_form span {
        padding-bottom: 5px;
        font-size: 17px;
    }

    #goal_form .input {
        margin-top: 5px;
        width: 250px;
        font-size: 15px;
        text-align: center;
    }

    #goal_list {
        top: 270px;
        width: 230px;
        font-size: 15px;
    }

    #goal_list li {
        margin-top: 2px;
    }

    #goal_list li span {
        margin-left: 10px;
        padding-top: 1px;
        height: 15px;
        font-size: 13px;
    }

    .customCheckbox[type="checkbox"]+label {
        width: 15px;
        height: 15px;
        background-size: 15px, 15px;
    }

    .customCheckbox[type="checkbox"]:checked+label::after {
        font-size: 5px;
        width: 15px;
        height: 15px;
        background: url(../img/checked.png);
        background-size: 15px, 15px;
    }

    #goal_list li:hover .customButton {
        margin-top: -3px;
        padding: 0;
        width: 15px;
        height: 14px;
        font-size: 7px;
    }

    #quote {
        top: -23px;
        font-size: 10px;
    }

    #quote span:last-child {
        margin-top: 3px;
    }
}

@media screen and (max-width: 1023px) {
    main {
        left: 10vh;
    }
}

@media screen and (max-width: 767px) {
    #backgroundImage {
        position: relative;
        min-width: 100%;
        min-height: 100%;
        right: 100vh;
    }

    main {
        left: -20vh;
    }
}